dist: xenial
language: python

env:
  global:
    - CIBW_BUILD: cp3*-*
    - CIBW_SKIP: "cp35-*"
    - TWINE_USERNAME: Ptrskay
    - DOCKER_IMAGE_LINUX_32: daald/ubuntu32:xenial
    - DOCKER_CONTAINER_LINUX_32: ubuntu32_container

jobs:
  allow_failures:
    - os: osx
  include:
    # perform a linux build
    - services:
        - docker
        - xvfb
    # and a mac build
    - os: osx
      language: shell

install:
  - curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly -y
  - export PATH="$HOME/.cargo/bin:$PATH"
  - python3 -m pip install cibuildwheel==1.8.0
  - pip3 install --upgrade pip
  - pip3 install -r requirements.txt
  - pip3 install lmfit dask pytest coverage codecov
  - pip3 install setuptools setuptools_rust
  - python3 setup.py develop

script:
  # - cd pysprint/tests
  # - coverage run --source=pysprint -m pytest
  # - coverage report -m
  # - cd ..
  # - cd ..
  - export CIBW_BEFORE_BUILD='pip install setuptools-rust && curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly -y'
  - export CIBW_ENVIRONMENT='PATH="$HOME/.cargo/bin:$PATH"'
  # build the wheels, put them into './wheelhouse'
  - python3 -m cibuildwheel --output-dir wheelhouse

after_script:
  - if [[ "$TRAVIS_TAG" != "" ]]; then pip3 install twine && python3 -m twine upload wheelhouse/*.whl --skip-existing
