dist: xenial
language: python

env:
  global:
    # - CIBW_BUILD: cp3*-*
    # - CIBW_SKIP: "cp35-*"
    - CIBW_BEFORE_ALL: "rm -rf target/release && rm -rf pysprint/internals.abi3.so"
    - TWINE_USERNAME: Ptrskay
    - DOCKER_IMAGE_LINUX_32: daald/ubuntu32:xenial
    - DOCKER_CONTAINER_LINUX_32: ubuntu32_container

jobs:
  allow_failures:
    - os: osx
  include:
    # perform a linux build
    - services:
        - docker
        - xvfb
    # and a mac build
    - os: osx
      language: shell

install:
  - curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly -y
  - export PATH="$HOME/.cargo/bin:$PATH"
  - python3 -m pip install cibuildwheel
  - pip3 install --upgrade pip
  - pip3 install -r requirements.txt
  - pip3 install lmfit dask pytest coverage codecov
  - pip3 install setuptools setuptools_rust twine==2.0
  - python3 setup.py develop

script:
  - cd pysprint/tests
  - coverage run --source=pysprint -m pytest
  - coverage report -m
  - cd ../..
  - export CIBW_BEFORE_BUILD='pip install setuptools-rust twine==2.0 && curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain nightly -y'
  - export CIBW_ENVIRONMENT='PATH="$HOME/.cargo/bin:$PATH"'
  # build the wheels, put them into './wheelhouse'
  - python3 -m cibuildwheel --output-dir wheelhouse

after_script:
  - if [[ "$TRAVIS_TAG" != "" ]]; then
    python3 -m twine upload wheelhouse/*.whl --skip-existing;
    fi;
