os:
- linux

dist: xenial

services:
- xvfb

language: python

cache: pip

python:
- 3.6
- 3.7
- 3.8

env:
- version=latest
- version=withextras

addons:
  apt:
    packages:
    - libxkbcommon-x11-0

install:
  # CONDA ENV
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  # we can get only the 3.x
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda config --add channels conda-forge
  - conda config --add channels ptrskay
  - conda info -a

  - conda env create -f environment.yml python==$TRAVIS_PYTHON_VERSION
  - conda activate pysprint-dev
  - python setup.py install

before_script:
- flake8 pysprint/ --count --select=E9,F63,F72,F82 --show-source --statistics

script:
- cd pysprint/tests
- coverage run --source=pysprint -m pytest
- coverage report -m

after_success:
- codecov

before_deploy:
  - cd ..
  - cd ..
  - echo "DEPLOYING TO PYPI.."

deploy:
  provider: pypi
  username: "__token__"
  password:
    secure: Iq4AIzY+TfLPMrhOgEXrlOvBUkGehbDfzqYYGbvumWp0JrJlCYfrF9RepJ3PFelatGrsRuVDcr4UBVC8USCPH1QfFoOPYXk/tI2EmrwcRfkECp8yTrnuyfztG7KYQi6F6TtiQsZAbGY21L5j23x/OXxgH1B/v1ZZhW2oMiGZC/aT7Jr6VfLBdk3jKsU1WGz9YD4/EaleFLdjKxu1rJf7FmC7rmGKLLBhL8/FwO/KTGvL1XOSBi5KJDT28yj6N/JSqqprdC6GVuy81HpRI/+K7RuEPWtMMkHsEi5DE1zlC1DkWMWH+moCG2qqzwungENC/334vMW70pbtjgV2wDSXDwv3QfwgXM/xGBysVboNXT42QRu8wWe2YFWEAtV1qQKXHE5bfTi+swQSclXIkw4aSBiw+ZHtMA2MyN3Bxej4rhQh+BVVAFnpf0FMqs0PI8ztgbsNtdAMrSwhAxhkLXNuaGY7fSE6A0Ovs2u7iU+S53Tj9ulZYTn1fdRb0r2fQdbWLGJiYHNotwoCIeP8r6cMG0/6qy5cKo25cHewUwlWybJZVPZUJwsWThIxzBmtfjpzdQnyXLuJTu28VwIujbunSNcnlJILTFzQht33i/dDd6uEJLzvuoRXpDPNbNSkeAWMTb47YoDQFhmEc8sBs4ZGLldwYBfvxrFaLLqg01W0NWE=
  on:
    tags: true
  distributions: "sdist bdist_wheel"
  skip_existing: true

 after_deploy:
   - echo "DEPLOYING ON CONDA"
   - conda install conda-build && conda install anaconda-client && bash .ci/conda_upload.sh
